<!DOCTYPE html>
<html>
<head>
  <title>PizzaProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome To Our Pizza Shop</h1>
<%= yield :title %>
<%= yield %> <%= yield :toppings%>

<h1>Please Shop With Us Again</h1>
<script>
<%= yield :some_javascript %>
</script>
</body>
</html>