<h1>Pizzas#new</h1>
<% content_for :title, @title %>


<%= form_for(@pizza) do |f| %>
    <%= f.label :sauce %>
    <%= f.text_field :sauce %>
    <%= f.text_field :toppings %>
    <%= submit_tag 'Create' %>
<% end %>